img{
  width: auto;
  height: auto;
  max-height: 250px;  
  max-width: 250px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.top_bar{
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 1;
  background-color: #111;
  margin-top: -8px;
  margin-left: -8px;
  height: 80px;
}

.top_bar > h1{
  color: white;
}


.open_nav{
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  padding-left: 17px;
  padding-top: 8px;
  z-index: 4;
  color: #FFF;

  /* background-color: blue; */
}


/* The side navigation menu */
 .sidenav{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 90px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */
}

.side_grid{
  display: grid;
  grid-template-columns: 75% 25%;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  width: 200px;
  padding-top: 20px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */



/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container{
  display: none;
  background-color: #262626;
  padding-left: 12px;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
}
.dropdown-btn{
  padding: 6px 8px 6px 8px;
  /* padding-right: -5px; */
  text-align: center;
}


/* Optional: Style the caret down icon */
.fa-caret-down, .fa-caret-up{
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}


/* Add an active class to the active dropdown button */
.active{
  /* background-color: #262626; */
  color: white;
  text-align: center;
}


.grid{
  display: block;
  max-width: fit-content;
  margin: auto;
  width: 90%;
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
  text-align: center;
}

.grid_entry{
  display: inline-block;
  font-size: 18px;
  word-break: break-word;
  vertical-align: bottom;
  text-align: center;
  width: 250px;
  padding: 10px;
  padding-top: 15px;
}


@media screen and (max-width: 900px){
  .top_bar > h1{color: aqua}
  .sidenav a, .dropdown-btn{font-size: 40px}
}